
<p class="avisos__titulo">Avisos</p>
<div class="avisos">
  <div class="avisos__acordion">
    <mat-accordion>
      <mat-expansion-panel (opened)="desmarcar()"
                           (closed)="expandido = false">
        <mat-expansion-panel-header>
          <mat-panel-title class="avisos_titulo--painel">
            A semana cultural está chegando!
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Se prepare para a semana cultural que está chegando, este ano com muitas novidades, atrações e festival gastronômico!</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
