.avisos {
  &__titulo {
    position: fixed;
    color: #4F4F4F;
    font-weight: bold;
    font-size: 16px;
    left: 50%;
    transform: translateX(-50%);
    font-family: sans-serif;
  }

  &__acordion {
    margin-top: 40px;
  }
}

.mat-expansion-panel-header-title {
  font-weight: var(--estilo);
  font-family: sans-serif;
  color: #4F4F4F;
}

::ng-deep .mat-expansion-panel-body{
  font-family: sans-serif;
}


