<div class="declaracao">
  <div class="declaracao__logo"></div>
  <p class="declaracao__titulo">Declaração de matrícula</p>
  <p class="declaracao__corpo">&nbsp;&nbsp;&nbsp;&nbsp;Declaramos para os devidos fins que Fulano Sicrano da Silva, matrícula 123456, documento 123456789, frequenta a rede municipal de ensino, estando regularmente matriculado. </p>
  <p class="declaracao__rodape">Município, dia de mês de ano</p>
  <div class="declaracao__botao-div">
    <button class="declaracao__botao">Imprimir</button>
  </div>
</div>
